*.DS_Store
docs/build/*
*.h5
test/*.png
benchmark/*.png
benchmark/*.csv
benchmark/paper/data/*.csv
benchmark/paper/img/*.pdf
benchmark/data/*.csv
benchmark/data/*.dat
benchmark/img/*.pdf
benchmark/img/*.svg
benchmark/data/
benchmark/img/
Manifest.toml
