name = "NFFT"
uuid = "efe261a4-0d2b-5849-be55-fc731d526b0d"
authors = ["Tobias Knopp <tobias@knoppweb.de> and contributors"]
version = "0.14.2"

[deps]
AbstractNFFTs = "7f219486-4aa7-41d6-80a7-e08ef20ceed7"
BasicInterpolators = "26cce99e-4866-4b6d-ab74-862489e035e0"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
OhMyThreads = "67456a42-1dca-4109-a031-0a68de7e3ad5"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"

[compat]
Adapt = "3, 4"
AbstractNFFTs = "0.9"
BasicInterpolators = "0.6.5, 0.7"
DataFrames = "1.3.1, 1.4.1"
FFTW = "1.5"
FINUFFT = "3.0.1"
GPUArrays = "11"
JLArrays = "0.2"
Reexport = "1.0"
OhMyThreads = "0.8"
PrecompileTools = "1"
SpecialFunctions = "0.8, 0.10, 1, 2"
julia = "1.10"
#StaticArrays = "1.4"
Ducc0 = "0.1"

[extras]
BenchmarkTools = "6e4b80f9-dd63-53aa-95a3-0cdb28fa8baf"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
FINUFFT = "d8beea63-0952-562e-9c6a-8e8ef7364055"
NFFT3 = "53104703-03e8-40a5-ab01-812303a44cae"
NFFTTools = "7424e34d-94f7-41d6-98a0-85abaf1b6c91"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Ducc0 = "47ec601d-2729-4ac9-bed9-2b3ab5fca9ff"
Zygote = "e88e6eb3-aa80-5325-afca-941959d7151f"
JLArrays = "27aeb0d3-9eb9-45fb-866b-73c2ecf80fcb"

[weakdeps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
GPUArrays = "0c68f7d7-f131-5f86-a1c3-88cf8149b2d7"

[targets]
test = ["Test", "JLArrays", "BenchmarkTools", "FINUFFT", "NFFT3", "Zygote",
        "NFFTTools", "DataFrames", "Ducc0"]  # "NFFTTools"

[extensions]
NFFTGPUArraysExt = ["Adapt", "GPUArrays"]
