name = "NFFT"
uuid = "efe261a4-0d2b-5849-be55-fc731d526b0d"
repo = "https://github.com/tknopp/NFFT.jl.git"

[deps]
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NFFT = "efe261a4-0d2b-5849-be55-fc731d526b0d"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
